<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="houseBean1" class="com.example.springbeans.model.House">
        <constructor-arg value="Euratechnologies, Lille 59000" type="java.lang.String"/>
        <constructor-arg value="30" type="int"/>
        <constructor-arg value="14" type="int"/>
        <constructor-arg value="Myrthille" type="java.lang.String"/>
    </bean>
    <bean id="developerBean" class="com.example.springbeans.model.Developer">
        <property name="name" value="Mickael"></property>
        <property name="nbSkillYear" value="4"></property>
    </bean>
    <bean id="companyBean" class="com.example.springbeans.model.Company">
        <property name="name" value="Boris company"></property>
        <property name="devJava" ref="developerBean" ></property>

    </bean>
</beans>